# API Configuration
NEXT_PUBLIC_API_BASE_URL=http://localhost:8000/api/v1

# Static Files & Uploads Configuration  
NEXT_PUBLIC_STATIC_URL=http://localhost:8000

# Chatbot API Configuration
NEXT_PUBLIC_CHATBOT_BASE_URL=http://localhost:8001/api/v1

# Recommend API Configuration
NEXT_PUBLIC_RECOMMENDATION_API_BASE_URL=http://127.0.0.1:8000
