.select-box-ui-career {
    option {
        background-color: rgb(254, 254, 254);
    }
}

.btn-ui-carrer:hover {
    opacity: 0.8 !important;
}


.searchbar-dropdown.show {
    display: block;
}

.searchbar-dropdown.hide {
    display: none;
}

.searchbar-dropdown {
    background-color: white;
    width: 390px;
    max-height: 260px;
    position: absolute;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.105);
    border: 1px solid rgb(212, 212, 212);
    box-sizing: border-box;
    overflow-y: auto;
    right: 0;
    border-radius: 5px;
    z-index: 10;

    &>.searchbar-item {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #e8e8e8;
        color: rgb(65, 64, 64);
        cursor: pointer;
        padding: 8px;
        box-sizing: border-box;
        font-size: 14px;

        &:hover {
            background-color: #f0f0f0;
        }
    }
}

.search-result-title {
    font-size: 13px;
    color: #888888;
    margin: 10px 10px;
}

.searchbar-new-header {
    font-size: 13px;
    color: #6f6f6f;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f6f6f6;
    height: 30px;
}

  .loader {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .jimu-primary-loading:before,
  .jimu-primary-loading:after {
    position: absolute;
    top: 0;
    content: '';
  }

  .jimu-primary-loading:before {
    left: -19.992px;
  }

  .jimu-primary-loading:after {
    left: 19.992px;
    -webkit-animation-delay: 0.32s !important;
    animation-delay: 0.32s !important;
  }

  .jimu-primary-loading:before,
  .jimu-primary-loading:after,
  .jimu-primary-loading {
    background: #0C6A4E;
    -webkit-animation: loading-keys-app-loading 0.8s infinite ease-in-out;
    animation: loading-keys-app-loading 0.8s infinite ease-in-out;
    width: 13.6px;
    height: 32px;
  }

  .jimu-primary-loading {
    text-indent: -9999em;
    margin: auto;
    position: absolute;
    right: calc(50% - 6.8px);
    top: calc(50% - 16px);
    -webkit-animation-delay: 0.16s !important;
    animation-delay: 0.16s !important;
  }

  @-webkit-keyframes loading-keys-app-loading {

    0%,
    80%,
    100% {
      opacity: .75;
      box-shadow: 0 0 #0C6A4E;
      height: 32px;
    }

    40% {
      opacity: 1;
      box-shadow: 0 -8px #0C6A4E;
      height: 40px;
    }
  }

  @keyframes loading-keys-app-loading {

    0%,
    80%,
    100% {
      opacity: .75;
      box-shadow: 0 0 #0C6A4E;
      height: 32px;
    }

    40% {
      opacity: 1;
      box-shadow: 0 -8px #0C6A4E;
      height: 40px;
    }
  }